.item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  border: 1px solid rgb(22, 21, 22);
}
.text {
  margin-top: 5px;
  text-align: left;
  color: coral;
}
.div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}
.button {
  margin-left: 10px;
  &:hover {
    background-color: cyan;
    cursor: pointer;
  }
}
